{% extends "base.html" %}
<!-- Override default title -->
{% block title %}<title>Create Plan</title>{% endblock title %}

<!-- Override default title -->
{% block content %}

<div id="form_container" style="padding: 20px;">
        <form action="" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputEmail4">Plan</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="What's your plan?">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="inputPassword4">Category</label>
                    <input type="text" class="form-control" id="inputPassword4" placeholder="What's the plan's category?">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                    </div>
                    <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
                </form>

</div>



<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
{% endblock content %}