<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" href="{% static 'plans/bootstrap.min.css' %}">
    <script src="{% static 'plans/bootstrap.bundle.min.js' %}"></script>
    <title>Plan Management</title>
</head>

<body>
    <h1>Plan Management</h1>

    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Plan</th>
                <th scope="col">StartDate</th>
                <th scope="col">EndDate</th>
                <th scope="col">Time(%)</th>
                <th scope="col">Progress(%)</th>
            </tr>
        </thead>
        <tbody>
            {% for plan in latest_plan_list %}
            <tr>
                <th scope="row">{{plan.id}}</th>
                <td>{{plan.plan_text}}</td>
                <td>{{plan.start_date}}</td>
                <td>{{plan.end_date}}</td>
                <td>{{plan.calc_date_percentage}}</td>
                <td>{{plan.progress}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div>
    <a href="/admin/plans/plan/add/">新建计划（Admin界面）</a>
    <button class="btn btn-info">新的计划</button>
</div>
</body>

</html>