{% extends "base.html" %}

{% block title %}PlanManagement{% endblock title %}

{% block content %}
<div id="plan_container" style="padding: 20px;">
    <div id="plan_filters" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a href="{% url 'plans:index' %}?type=not_start" class="btn btn-info">Not Started</a>
            <a href="{% url 'plans:index' %}?type=in_progress" class="btn btn-info">In Progress</a>
            <a href="{% url 'plans:index' %}?type=finished" class="btn btn-info">Finished</a>
            <a href="{% url 'plans:index' %}?type=all" class="btn btn-info">All</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Plan Text</th>
                <th scope="col">Category</th>
                <th scope="col">StartDate</th>
                <th scope="col">EndDate</th>
                <th scope="col">Time(%)</th>
                <th scope="col">Progress(%)</th>
                <th scope="col">Status</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for plan in latest_plan_list %}
            <tr>
                <td scope="row">{{plan.plan_text}}</td>
                <td>{{plan.category}}</td>
                <td>{{plan.start_date|date:"m/d/Y"}}</td>
                <td>{{plan.end_date|date:"m/d/Y"}}</td>
                <td>{{plan.calc_date_percentage}}</td>
                <td>{{plan.progress}}</td>
                <td>{{plan.status}}</td>
                <td>
                    <a href="/admin/plans/plan/{{plan.id}}/change/">Edit</a>
                </td>
                <td>
                    <a href="/plans/plan/{{plan.id}}/del">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="/admin/plans/plan/add/" class="btn btn-info">新建计划（Admin界面）</a>
        <a href="{% url 'plans:create' %}" class="btn btn-info">新建计划（手动创建）</a>
    </div>

</div>
{% endblock content %}